<div id="sample"></div>
<form id="user-form" method="post" action="/goroutine/save">
    <input id="req" type="text" width="100px" name="x" placeholder="input x value" required>
    <input id="req" type="text" width="100px" name="y" placeholder="input y value" required>
    <br>
    <button id="posted">Check !</button>
</form>
<p class="message"></p>
<p id="res1"></p>
<br>
<button id="reset">Reset</button>

<script>

    $(function () {
        $("#user-form").on("submit", function (e) {
            e.preventDefault();
            // console.log(this);
            var $self = $(this);
            var payload = JSON.stringify({
                First : $('[name="y"]').val(),
                Second : $('[name="x"]').val(),

            });

            $.ajax({
                url: $self.attr("action"),
                type: $self.attr("method"),
                data: payload,
                contentType: 'application/json',
            }).then(function (res) {
                    $('#res1').html(JSON.stringify(res))
            }).catch(function (a) {
                alert("ERROR: " + a.responseText);
            });
        });

        $(document).ready(function () {
            $('#reset').click(function() {
                location.reload();
            });
        })
    });

</script>